body {
  background: #eeefed;
}

a {
  text-decoration: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 25px;
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Calibri", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: #676767;
  margin-bottom: 40px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #000;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: block;
  margin: 0 auto 20px; /* Center and add margin to stack vertically */
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/* btn-1 animation TRANSPARENT BUTTON POP-UP */
.btn-1 {
  background-color: #2a2eff;
  transition: all 0.3s;
  color: var(--clr-light);
  border: 10px solid var(--clr-accent);
  border-radius: 5px;
}

.btn-1:hover {
  transform: translateY(-10px);
  background-color: var(--clr-accent);
  color: var(--clr-light);
}
/* btn-2 Styling/ Hover animation */
.btn-2 {
  background-image: linear-gradient(
    to left,
    rgb(179, 0, 255),
    rgb(251, 36, 251),
    rgb(179, 0, 255)
  );
  border-radius: 10px;
  transition: 2s;
  background-size: 200%;
}

.btn-2:hover {
  background-position: right;
}

/* btn-3 styling COLOR SWITCH */
.btn-3 {
  background: rgba(227, 235, 8, 0.864);
  background: linear-gradient(
    0deg,
    rgb(red, green, blue),
    0%,
    rgb(108, 12, 86) 100%
  );
}

.btn-3:hover {
  background: rgb(255, 98, 0);
  background: linear-gradient(
    0deg,
    rgb(255, 98, 0) 0%,
    rgba(2, 126, 251, 1) 100%
  );
}
